[Unit]
Description=Suricata Daemon
After=syslog.target network-online.target

[Service]
#Type=simple
#PIDFile=/usr/local/var/run/suricata.pid

ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

ExecStartPre=/sbin/ip link set up promisc on arp off multicast off dev ens160
ExecStartPre=/sbin/ip link set up promisc on arp off multicast off dev ens192
ExecStartPre=/sbin/ethtool -K ens160 rx off tx off gro off lro off
ExecStartPre=/sbin/ethtool -K ens192 rx off tx off gro off lro off
ExecStartPre=/bin/rm -f /usr/local/var/run/suricata.pid

ExecStart=/usr/local/bin/suricata -c /usr/local/etc/suricata/suricata.yaml --af-packet --user=suricata --pidfile=/usr/local/var/run/suricata.pid
ExecReload=/bin/kill -USR2 $MAINPID

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
